/*
 * You can say something about your file if you need it!
 */
/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Globel
 * Elements
 * Header
 * About
 * Quote
 * Skill
 * Flat
 * Experience
 * Work
 * Contact
 * Footer
 * Parallax graphic
**/


/*-------------------------*/
/* $Globel
---------------------------*/

/*-------------------------*/
/* $Elements
---------------------------*/

/* background 
---------------------*/
.bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/urban-long-exposure-night.jpg);
	background-size: cover;
	background-position: center;
}

.bg:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg,#484848,#1c1c1c);
    opacity: 0.6;
}
/* lean-bg
---------------------*/
.lean-bg--top:before,
.lean-bg--bottom:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 180px;
    background-color: #fefefe;
}
@media (max-width: 768px){
    .lean-bg--top:before,
    .lean-bg--bottom:after{
        height: 80px;
    }
}
.lean-bg--top:before{
    top: 0;
    transform: skewY(-5deg) translateY(-50%);
}
.lean-bg--bottom:after{
    bottom: 0;
    transform: skewY(-5deg) translateY(50%);
}
.lean-bg--top{
    margin-top: 160px;
}
@media (max-width: 768px){
    .lean-bg--top{
        margin-top: 80px;
    }
}
.lean-bg--bottom{
    margin-bottom: 160px;
}
@media (max-width: 768px){
    .lean-bg--bottom{
        margin-bottom: 80px;
    }
}
.lean-bg--no-margin{
    margin: 0;
}

/* btn
---------------------*/

.btn{
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	height: 36px;
	line-height: 36px;
	padding: 0 24px;
	min-width: 64px;
	font-size: 14px;
	text-align: center;
	font-weight: 500;
	font-family: 'Raleway','Helvetica', 'roboto', arial, sans-serif, 微軟正黑體;
	letter-spacing: 0;
	text-decoration-color: none;
	background-color: #d1d2d3;
	border: 0;
	border-radius: 18px; 
	outline: 0;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	user-drag: none;
	transition: all 0.3s;
}

.btn--primary,
.btn--scendary{
	color: #fefefe;
}

.btn.btn--primary{
	background-color: #dcb677 ;
}

.btn.btn--primary:hover,
.btn.btn--primary:active{
	background-color: #efca8d;
}

.btn.btn--secondary{
	background-color: inherit;
	border: 1px solid #dcb677 ;
	color: #dcb677 ;
}

.btn.btn--secondary:hover,
.btn.btn--secondary:active{
	background-color: #efca8d;
	color: #fefefe;
}

.btn.btn--lg{
	font-size: 20px;
	line-height: 56px;
	height: 56px;
	font-weight: 400;
	border-radius: 28px;
	padding: 0 64px;
}

.btn.btn--md{
	font-size: 18px;
	line-height: 48px;
	height: 48px;
	font-weight: 400;
	border-radius: 24px;
	padding: 0 64px;
}

.btn.btn--sm{
	font-size: 14px;
	line-height: 32px;
	height: 32px;
	font-weight: 400;
	border-radius: 16px;
	padding: 0 64px;
}

.btn-group{
	margin: 0 8px 0 8px;
}

.btn-group--center{
	text-align: center;
}

/*icon-btn*/
.icon-btn{
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 24px;
}

.icon-btn .icon{
	display: block;
	text-align: center;

}

.icon-btn .icon:hover{
	transform: translate(0,-20%);

}

/*btn-text*/
.text-btn{
	display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway', 'Helvetica', 'roboto', arial, sans-serif, 微軟正黑體;
    letter-spacing: 0;
    text-decoration: none;
    color: #484848;
}

.text-btn.text-btn--primary{
    color: #dcb677 ;
}
.text-btn.text-btn--lg{
    font-size: 20px;
    line-height: 48px;
    height: 48px;
    font-weight: 900;
}

.text-btn.text-btn--lg:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #dcb677 ;
    transition: all 0.3s;
}
.text-btn.text-btn--lg:hover:before{
    width: 100%;
}

/*imgbox*/
.img{
	width: 100%;
	display: block;

}

.img:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1c1c1c;
	opacity: 0.5;	

	transition: all 0.3s;
}

@media (max-width: 768px){
	.img:after{
		opacity: 0;
	}
}

.img:hover:after{
	opacity: 0;		
}

.imgbox{
	width: 100%;
	overflow: hidden;
	
}

.imgbox__inner{
	width: 100%;
	padding-top: 100%;

}

.imgbox__inner.imgbox__inner--4-3{
	padding-top: 75%;
}

.imgbox__inner .img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;

}


/*Stripe
--------------------------*/
.stripe--left{
	position: absolute;
	top: -32px;
	left: 5%;
}

.stripe--right{
	position: absolute;
	bottom: -32px;
	right: 5%;
}

@media (max-width: 768px){
	.stripe{
		visibility: hidden;
	}
}

.stripe span{
	display: inline-block;
	width: 4px;
	height: 80vh;
	background-color: #fefefe;
	margin: 0 4px; 
}

.stripe span:nth-child(1){
	background-color: #915B4C;
}
.stripe span:nth-child(2){
	background-color: #838343;
}
.stripe span:nth-child(3){
	background-color: #314A5A;
}

/*-------------------------*/
/* $Header
---------------------------*/

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	/*background-color: #fff;*/
	transition: all 0.3s;
}

.header--colored{
	background-color: #dcb677;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.header--colored .menu-toggle span{
	background-color: #fefefe ;
}

.header--colored .navbar__socialbar .icon-btn{
	color: #fefefe ;
}

/* navbar
---------------------*/
.navbar{
	height: 80px;
	/*background-color: #fff;*/
}

.navbar--collapse{
	margin: 0 -16px;
}

.navbar__socialbar{
	padding: 24px;
	float: left;
}

@media (max-width: 768px) {
	.navbar__socialbar{
		padding: 12px;
	}
}

.navbar__socialbar .icon-btn{
	/*color: #fff;*/
}

.navbar__nav{
	float: right;
}

/*menu-toggle*/
.menu-toggle{

	display: block;
	/*background-color: #fff;*/

	padding: 26px 24px 24px 24px;

}

@media (max-width: 768px) {
	.menu-toggle{
		padding: 16px 12px 12px 12px;

	}
}

.menu-toggle span{
	width: 32px;
	height: 2px;
	display: block;
	background-color: #dcb677;
	margin: 8px;

	transition: all 0.3s;
}

.menu-toggle:hover span:nth-child(1){
	transform: translate(-20%);

}

.menu-toggle:hover span:nth-child(3){
	transform: translate(20%);

}

/*popup-menu*/
.popup-menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #484848;
	visibility: hidden;
	opacity: 0;

	transition: all 0.3s;
}

#popup-overlay:target{
	visibility: visible;
	opacity: 1;
}

.popup-menu__close{
	padding: 24px;
	width: 80px;
	height: 80px;
	float: right;

	transition: all 0.3s;

	margin: 0 -16px 0 0;
}

@media (max-width: 768px){
    .popup-menu__close{
        padding: 12px;
        width: 56px;
        height: 56px;
    }
}

.popup-menu__close:hover{
	transform: rotate(180deg);

}

.popup-menu__close span{
	width: 32px;
	height: 2px;
	background-color: #dcb677;
	position: absolute;
	top: 50%;
	left: 50%;

}

.popup-menu__close span:nth-child(1){
	transform: translate(-50%,-50%) rotate(45deg);
}

.popup-menu__close span:nth-child(2){
	transform: translate(-50%,-50%) rotate(-45deg);
}

.popup-menu__item{
	display: block;
	text-align: center;
	font-family: 'Raleway','Helvetica', 'roboto', arial, sans-serif, 微軟正黑體;
	font-size: 40px;
	font-weight: 900;
	line-height: 80px;
	color: #dcb677;

	transition: all 0.3s;
}

@media (max-width: 768px){
    .popup-menu__item{
        font-size: 24px;
        line-height: 48px;
    }
}

.popup-menu__item:hover {
	color: #dcb677 ;
}

/*-------------------------*/
/* $About
---------------------------*/
.hero{
	
	padding: 20vh 0 20vh 0;
}

@media (max-width: 480px) {
	.hero{
		padding: 80px 0 80px 0;
	}
}

.hero__heading{
	font-size: 120px;
	font-weight: 900;
	color: #fefefe;
}

@media (max-width: 768px) {
	.hero__heading{
		font-size: 48px;
	}
}

.hero__bg{
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%,0);

	max-width: 1140px;

	width: 100%;
	height: 100%;
	background-image: url(../images/portrait.png);
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: right top;

}

@media (max-width: 768px) {
	.hero__bg{
		background-size: 320px;
	}
}

@media (max-width: 480px) {
	.hero__bg{
		background-size: 200px;
	}
}
/*-------------------------*/
/* $Quote
---------------------------*/



.quote{
	/*background-color: #fefefe;*/
	padding: 80px 0 80px 0 ;
}

@media (max-width: 768px) {
	.quote{
		padding: 40px 0 40px 0 ;
	}
}

.quote__content{
	text-align: center;

	/*font-size: 18px;
	line-height: 40px;
	color: #484848;*/
}
.quote__icon{

	margin: 0 auto 24px auto;

	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: #dcb677 ;

	text-align: center;
	line-height: 64px;
	font-size: 32px;
	color: #fefefe;
}

.quote__text{
	font-size: 18px;
	line-height: 40px;
	color: #484848;

	margin-bottom: 24px;
}

.quote__name{
	font-size: 18px;
	line-height: 40px;
	color: #484848;
}

.quote__name span{
	color: #dcb677 ;
}

/*-------------------------*/
/* $Skill
---------------------------*/
.skill{
	padding: 80px 0 80px 0; 
}

@media (max-width: 768px) {
	.skill{
		padding: 40px 0 40px 0; 
	}
}

.skill-group{
	padding-top: 80px;
	padding-bottom: 80px;
}

.skill-card{
	padding-left: 32px;
	margin-bottom: 32px;
}

.skill-card__inner{

	background-color: #484848;
	border-radius: 4px;

	box-shadow: 0 3px 10px rgba(0,0,0,0.5);

	padding: 24px;
	padding-left: 48px;
}

.skill-card__title{
	color: #dcb677 ;
	font-family: 'Raleway','Helvetica', 'roboto', arial, sans-serif, 微軟正黑體;
	margin-top: 0;
	margin-bottom: 8px;
}

.skill-card__text{
	margin: 0; 
	color: #fefefe;
}

.skill-card__icon{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 5px solid #dcb677;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);

	background-color: #1c1c1c;

	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0,-50%);
}

.skill-card__icon .img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	max-width: 60%;
	max-height: 60%;
}

@media(max-width: 768px){
	.skill-card__icon{
		left: 50%;
		top: 0;
		transform: translate(-50%,-50%);
	}

	.skill-card{
		padding: 0;
		margin-bottom: 48px;
	}
	.skill-card__inner{
		padding: 24px;
		padding: 48px;
	}
	.skill-group{
		padding-bottom: 0;
	}
}

/*-------------------------*/
/* $Flat
---------------------------*/
.flat{
	/*background-color: #fefefe;*/
	padding: 80px 0 80px 0 ;
}

@media (max-width: 768px) {
	.flat{
		padding: 40px 0 40px 0 ;
	}
}


/*-------------------------*/
/* $Experience
---------------------------*/
.experience{
    padding-top: 80px;
    padding-bottom: 80px;

}
@media(max-width: 768px){
    .experience{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.timeline-group{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;

}

.timeline{
    width: 4px;
    height: 100%;
    background-color: #dcb677 ;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

.timeline-cards__row:nth-child(odd){
	display: flex;
	justify-content: flex-start;
}

.timeline-cards__row:nth-child(even){
	display: flex;
	justify-content: flex-end;
}

.timeline-card{
	padding: 24px;
	background-color: #fefefe;
	border-radius: 4px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);

	width: calc(50% - 24px);
}

.timeline-card:before{
	content: "";
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #dcb677 ;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);

	position: absolute;
	top: 50%;

}

.timeline-cards__row:nth-child(odd) > :before{
	right: -24px;
	transform: translate(50%,-50%);
}

.timeline-cards__row:nth-child(even) > :before{
	left: -24px;
	transform: translate(-50%,-50%);
}

.timeline-cards__text{
	margin: 0;
}

@media (max-width: 768px) {
	.timeline{
		left: 0;
	}
	.timeline-card{
		padding: 24px;
		background-color: #fefefe;
		border-radius: 4px;
		box-shadow: 0 3px 10px rgba(0,0,0,0.5);

		width: calc(100% - 24px);

		margin-bottom: 24px;
	}

	.timeline-cards__row:last-child .timeline-card{
		margin-bottom: 0;
	}

	.timeline-cards__row:nth-child(odd){
		display: flex;
		justify-content: flex-end;
	}
	
	.timeline-cards__row:nth-child(odd) > :before{
		left: -24px;
		transform: translate(-50%,-50%);
	}

}
/*-------------------------*/
/* $Work
---------------------------*/
.work{
    padding-top: 80px;
    padding-bottom: 120px;
}
@media (max-width: 768px){
    .work{
        padding-top: 40px;
        padding-bottom: 80px;
    }
}

/*worklist*/

.worklist{
	padding-top: 80px;
}

.work-item{
	margin-bottom: 160px;
}

.work-item__text--right{
	text-align: right;
}


.work-item__text{
    padding-top: 24px;
}

.work-item__title{
    font-size: 40px;
    font-family: 'Raleway', 'Helvetica', 'roboto', arial, sans-serif;
    color: #484848;
}

.work-item__title--right{
	margin-right: -80px;
}

.work-item__title--left{
	margin-left: -80px;
}

@media (max-width: 768px) {
	.work-item{
		margin-bottom: 48px;
	}
	.work-item__title{
	    font-size: 24px;
	    line-height: 32px;
	    margin-top: 0;
	    margin-bottom: 8px;
	}

	.work-item__text--right{
		text-align: left;
	}

	.work-item__title--right{
		margin-right: 0px;
	}

	.work-item__title--left{
		margin-left: 0px;
	}
}

/*-------------------------*/
/* $Contact
---------------------------*/
.contact{
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width: 768px){
    .contact{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

/*form*/

.form{
	max-width: 600px;
	margin: 0 auto;

}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form textarea{
	padding: 8px 0 8px 0;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
	background-color: inherit;
	color: #fefefe;
}

.form input[type="text"]:focus,
.form input[type="tel"]:focus,
.form input[type="email"]:focus,
.form textarea:focus{
	outline: 0;
	border: 1px solid #dcb677 ;
}

.form label{
	margin-bottom: 8px;
	display: inline-block;
	vertical-align: middle;
	color: #fefefe;
}

.form__btn-group{
	margin-top: 32px;
}


.form textarea{
	resize: none;
}
/*devide-text*/

.divide-text{
	text-align: center;
	margin-top: 80px;
	font-size: 28px;
	line-height: 32px;
	color: #fefefe;
}

.info{
	text-align: center;	
}

.info__email{
	margin-bottom: 16px;
}
.info__email a{
	color: #dcb677 ;
	font-size: 18px;
	font-weight: 400;
}

.info__phone{
	margin-bottom: 16px;
}

.info__phone a{
	color: #fefefe;
	font-size: 24px;
	font-weight: 400;
}

.info__social-bar .icon-btn{
	color: #dcb677 
}
/*-------------------------*/
/* $footer
---------------------------*/
.footer{
    padding-top: 40px;
    padding-bottom: 40px;
}
.final-text{
    text-align: center;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    color: #fefefe;
}
.copyright{
    text-align: center;
    color: #fefefe;
    font-size: 14px;
}
/*-------------------------*/
/* $parallax graphic
---------------------------*/
[class^="graphic_"]{
	position: absolute;
}
@media (max-width: 768px){
    [class^="graphic_"]{
        transform: scale(0.5);
    }
}
.graphic_001{top: 20%;left: 5%;}
.graphic_002{bottom: 0%;left: 2%;}
.graphic_003{top: -120%;right: 5%;}
.graphic_004{top: -30%;right: 20%;}
.graphic_005{bottom: 20%;left: 5%;}
.graphic_006{bottom: 50%;left: -5%;}
.graphic_007{top: -30%;right: -5%;}
.graphic_008{top: 10%;right: 10%;}
.graphic_009{bottom: 50%;left: 5%;}
.graphic_010{bottom: -10%;right: 20%;}
.graphic_011{top: 5%;left: -5%;}
.graphic_012{top: 12%;left: 5%;}
.graphic_013{top: 35%;right: 10%;}
.graphic_014{top: 50%;left: 10%;}
.graphic_015{top: 57%;left: 5%;}
.graphic_016{top: 71%;right: 10%;}
.graphic_017{top: 70%;right: 5%;}
.graphic_018{top: 84%;left: 5%;}
.graphic_019{top: 90%;left: 20%;}
.graphic_020{top: 0%;right: 20%;}
.graphic_021{top: 30%;left: 10%;}
.graphic_022{top: 35%;left: 10%;}
.graphic_023{top: 87%;right: 15%;}
.graphic_024{top: 70%;right: 10%;}